:root{
    --primary-color: #9b9b9b;
    --segundo-color: #f41919;
    --imgPortada: url("https://www.bulgarihotels.com/.imaging/bhr-wide-big-jpg/dam/BEIJING/Exclusive-Offers-/bulgari-hotel-beijing-hotel-entrance.jpg/jcr%3Acontent");
    --font--: "Roboto", sans-serif;
}

