:root {
    --landing-primary-color: #00008b;
    --landing-secondary-color: #10C227;
    --text-color--: #0045f5;
}

.nav_bar{
    background-color: var(--landing-primary-color);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font--);
    position: fixed;
    z-index: 10;
}
.icono{
    color: #fff;
    display: none;
}
.logo img{
    margin: 15px;
    width: 100px;
    height: 80px;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.links a{
    color: white;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    
}
.links button{
    /* display: none; */
    background-color: var(--landing-secondary-color);
    color: #fff;
    padding: 15px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
    margin-right: 15px;
}
.links button:hover{
    background-color: #A8EB12;
}

/* portada */
.portada{
    position: relative;
    background-image: url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/105259565.jpg?k=1b8706d0d6069a0e5f2179928deaa3beecc86fdbee9516dc4d1f090a1f2ea280&o=&hp=1);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 95vh;
    z-index: 1;
}
.portada::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 2;
}

.portada .texto{
    width: 60%;
    position: relative;
    z-index: 3; 
    color: white;
    padding-top: 250px;
}
.portada h1{
    color: white;
    font-size: 3em;
    margin: 0 50px;
    font-family: var(--font--);
}
.portada button{
    background-color: var(--landing-secondary-color);
    color: #fff;
    padding: 15px;
    font-size: 25px;
    margin: 10px 50px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.portada button:hover{
    background-color: #A8EB12;
}

/* contenedor */
.container .section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.container .section .left,.right{
    width: 50%;
    padding: 30px;
}
.container .section .left h1{
    color: var(--text-color--);
    font-family: var(--font--);
}
.container .section .left h2{
    font-size: 20px;
    color: #8d8b8b;
    line-height: 1.5;
}
.container .section .left span{
    color: red;
    font-family: var(--font--);
}
.container .section .right img{
    width: 90%;
    height: 250px;
}
/* nuestro trabajo  */
.nuestroTrabajo{
    margin-top: 20px;
    padding: 30px;
    background-color: #EAF0DE;
}
.nuestroTrabajo h1{
    text-align: center;
    font-family: var(--font--);
    color: var(--text-color--);
}
.containerTrabajos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.containerTrabajos .card{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 350px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    position: relative;
}
.containerTrabajos .card img{
    width: 100%;
    height: 70%;
    transition: all 1.5s ease;
    object-fit: cover;
}
.card:hover img{
    width: 100%;
    height: 100%;
}
.containerTrabajos .card .ver{
    display: flex;
    justify-content: center;
}
.containerTrabajos .card .ver button{
    background-color: var(--text-color--);
    color: #fff;
    padding: 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    top: 80%;
    transition: 0.5s ease;
    cursor: pointer;
}
.card .ver button:hover{
    background-color: var(--landing-secondary-color);
}
.card:hover .ver button{
    top: 50%;
}


@media screen and (max-width:995px){

}

@media screen and (max-width:750px){
    .nav_bar{
        z-index: 10;
    }
    .icono{
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--landing-primary-color);
        padding: 20px;
        z-index: 100;
        cursor: pointer;
    }
    .links button{
        display: none;
    }
    .links{
        top: 0;
        position: fixed;
        height: 100%;
        flex-direction: column;
        transition: all 1s ease;
        background-color: var(--landing-primary-color);
    }
    
    .uno{
        clip-path: inset(0 100% 0 0);
        width: 100%;
    }
    .dos{
        clip-path: inset(0 0 0 0);
        width: 100%;
    }
    /* portada */
    .portada .texto{
        width: 80%;
    }
    .portada h1{
        font-size: 3em;
    }
    .container .section .left h2{
        font-size: 15px;
        line-height: 1.5;
    }
    
}
@media screen and (max-width:600px){
    
    .container .section .left h2{
        font-size: 13px;
        line-height: 1.3;
    }
}
@media screen and (max-width:400px){
    .portada h1{
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .container .section{
        display: flex;
        flex-direction: column;
        text-align: center;
        /* padding: 20px; */
    }
    .container .section .left,.right{
        width: 100%;
        padding: 10px;
    }
    .container .section .right img{
        width: 50%;
        height: 100px;
    }
}