.nav-bar{
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.img img{
    width: 100px;
}
.links{
    display: flex;
    align-items: center;
}
.link{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}